body{
	padding: 0px 150px 100px 150px;
	font-family: "Lato";
	min-height: 900px;
	background-color: whitesmoke;
}

#content{
	width: 100%;
	margin-bottom: 80px;
}

.meter{
	display: inline-block;
	color: white;
	padding: 15px 5px;
	margin-right: 5px;
	min-width: 100px;
	max-width: 500px;
}

#meterContainer{
	position: fixed;
	margin-top: 10px;
}

.box{
	width: 0px;
	height: 3px;
	margin-bottom: 9px;
}